/* Global Styling */
body {
  padding: 30px 0 80px;
  font-size: 17px;
  font-family: sans-serif;
}

a {
  color: #999;
  text-decoration: none;
}

body a:hover {
  color: #0a560a;
}

a:visited {
  color: #999;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
  margin: 10px 0;
}

.pull-right {
  float: right;
}

.active a {
  color: #4caf50;
}

.divider {
  height: 1px;
  background-color: #999;
}

/* Custom Styling */
.center-box {
  margin: auto;
  width: 50%;
}

.center-box ul {
  padding: 0;
  list-style: none;
}

.center-box li {
  display: inline-block;
}

.center-box li:first-child {
  margin-right: 20px;
}

.main {
  background-color: #c4ec96;
}

.main .header h3 {
  margin: 0;
  padding: 15px 0;
  font-weight: 200;
  color: #999;
  text-align: center;
}

.main .header h4 {
  margin: 0;
  padding: 15px;
  color: #0a560a;
  text-transform: uppercase;
}

form {
  width: 100%;
  height: 3rem;
  margin-bottom: 30px;
}

form input {
  border: none;
  height: 3rem;
  font-weight: 200;
  font-size: 1rem;
}

form .input {
  width: 75%;
  float: left;
  padding-right: 2px;
  box-sizing: border-box;
}

form .submit {
  width: 25%;
  float: left;
}

form input[type="text"] {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: #ecfdd9;
}

form input[type="submit"] {
  width: 100%;
  background-color: #656565;
  color: #fff;
  border-radius: 0;
  padding: 0;
}


/* TodoItem Page */
.item {
  background-color: #ecfdd9;
  color: #656565;
  padding: 20px 20px 10px 20px;
  margin-bottom: 2px;
}

.item .date-btn {
  color: #656565;
  background-color: #c4ec96;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.6rem;
  display: inline-block;
  margin: 18px 15px 0 0;
}

.check-btn {
  border: 2px solid #999;
  border-radius: 50%;
  padding: 5px 8px;
  margin: 5px 5px 0 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}

.check-btn:hover {
  border: 2px solid #0a560a;
  background-color: #c4ec96;
}

.up-btn, .down-btn {
  cursor: pointer;
  color: #999;
  font-size: 1.5rem;
}

.up-btn:hover,
.down-btn:hover {
  color: #0a560a;
  font-weight: bold;
}


/* History Page */
.item .complete {
  color: #2196f3;
}

.item .overdue {
  color: #ff7246;
}
