<div class="main">
  <div class="header">
    <h3>Task History</h3>
  </div>

  <div class="divider"></div>

  <div class="header">
    <h4>Complete Tasks</h4>
  </div>
  <div class="item clearfix" ng-repeat="item in history.itemArr" ng-show="item.complete">
    <span class="complete" ng-bind="item.content"></span>
  </div>

  <div class="header">
    <h4>Overdue Tasks</h4>
  </div>
  <div class="item clearfix" ng-repeat="item in history.itemArr" ng-show="item.overdue">
    <span class="overdue" ng-bind="item.content"></span>
  </div>
</div>
