<div class="center-box">
  <div class="clearfix">
    <div class="pull-right">
      <a href="#">Task History</a>
      <a href="#">Active tasks</a>
    </div>
  </div>

  <div class="main">
    <div class="header">
      <h3>Current Tasks</h3>
    </div>

    <form class="clearfix" ng-submit="main.addItem(main.content)">
      <div class="input">
        <input type="text" placeholder="Enter new task" ng-model="main.content">
      </div>
      <div class="submit">
        <input type="submit" value="Add">
      </div>
    </form>

    <div class="item" ng-repeat="item in main.allItems">
      <span>{{ item.content }}</span>
    </div>
  </div>
</div>
